.SideBar
  .Header
  .Header__userList
    .user
      - @entries.each do |entry|
        - if entry.user != current_user
          .user__name
            = link_to "#{entry.user.username}", room_path(@room.id)
          .user__message 
            - if @room.messages.present?
              = @room.messages.first.content
     
        