.SideBar
  .Header
  .Header__userList
    .user
      .user__name
        - @entries.each do |entry|
          - if entry.user != current_user
            = entry.user.username
      .user__message 
        - if @room.messages.present?
          = @room.messages.first.content

