.more
  %ul.more_list
    %li.edit
      = link_to "編集", edit_post_path(@post.id), method: :get
    %li.delete
      = link_to "削除", post_path(@post.id), method: :delete
  .text
    = @post.text
  .name
