.AccountPage {
  text-align: center;
  .AccountPage__title {
    padding: 30px;
  }
  .AccountPage__form {
    .FormField {
      .new_user, .edit_user {
        .FormField__input{
          padding-bottom:10px;
          .FormInput {
            width: 300px;
          }
        }
        .FormField__submit { 
          padding-top: 10px;
          .btn {
            width: 300px;
            background-color: lightskyblue;
            border: none;
            border-radius: 5px;
            padding:5px;
          }
        }
      }
    }
  }  
}